body {
  background-color: rgb(51, 0, 111);
  border: 10px solid white;
  color: white;
}

img {
  float: left;
}

table {
  border: 0px solid #8878B7;
  background-color: #8878B7;
  width: 60%;
}

td {
  text-align: center;
  font-size: 250%;
}
button#a{
  background: rgb(232,211,162);
  color:white;
  font-size: 30px;
  text-align: center;
  width: 150px;
}
a#a{
  color: rgb(232,211,162);
}

#button{
  background: rgb(232,211,162);
  color:white;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  font-size: 25px;
border: 2px solid #8878B7;

}
div#nav{
  background-color: #8878B7;
   overflow: hidden;
}
#nav a{
  float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
#nav a:hover {
    background-color: rgb(51, 0, 111);
    color: rgb(232,211,162);
}
