body{
  background-color: rgb(51,0,111);
  border: 10px solid white;
}
img{
   margin:auto;
  display: block;
}
table{
  background-color:#8878B7;
  border:#8878B7;
   margin:auto;
}
a{
  color:white;
  text-decoration: none;
  font-size: 30px;
}
table#title{
  border: 0px solid #8878B7;
  background-color: #8878B7;
  width: 60%;
}
td#pad{
  text-align: center;
  font-size: 250%;
  color:white;
}
div#description{
  text-align: center;
  color:white;
}
#button{
  background: rgb(232,211,162);
  color:white;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  font-size: 25px;
border: 2px solid #8878B7;
text-align: :center;
}

div#nav{
  background-color: #8878B7;
   overflow: hidden;
}
#nav a{
  float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
#nav a:hover {
    background-color: rgb(51, 0, 111);
    color: rgb(232,211,162);
}
